{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} - Buchungsanfrage
{% endblock %}

{% block content %}
    <h1>Buchungs&shy;anfrage</h1>
    <p class="lead">
        Schicken Sie uns einfach eine E-Mail an
        <a href="mailto:supero@example.org" class="btn btn-primary btn-sm">
            <i class="far fa-envelope"></i> supero@example.org
        </a>
    </p>
    <a href="{{ path('helden_liste') }}" class="btn btn-default">Zurück</a>
{% endblock %}
